<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    <p (click)="view=0;sidenav.close();" [ngStyle]="{'margin-top': '50px'}">
      <b [routerLink]="['/enterstock']" [ngStyle]="{'font-size': '15px'}">Enter Stock</b>
    </p>
    <p (click)="view=1;sidenav.close();" [ngStyle]="{'margin-top': '20px'}">
    <b  [routerLink]="['/showstock']"  [ngStyle]="{'font-size': '15px'}">  View Stock</b>
    </p>
    <p (click)="view=2;sidenav.close();" [ngStyle]="{'margin-top': '20px'}">
    <b  [routerLink]="['/supplier']"  [ngStyle]="{'font-size': '15px'}">  Supplier </b>
    </p>
    <p (click)="view=3;sidenav.close();" [ngStyle]="{'margin-top': '20px'}">
    <b  [routerLink]="['/makebills']"  [ngStyle]="{'font-size': '15px'}">  Billing </b>
    </p>
    <p (click)="view=4;sidenav.close();" [ngStyle]="{'margin-top': '20px'}">
    <b  [routerLink]="['/employee']"  [ngStyle]="{'font-size': '15px'}">  Employee </b>
    </p>
    <p (click)="view=5;sidenav.close();" [ngStyle]="{'margin-top': '20px'}">
    <b  [routerLink]="['/showbills']"  [ngStyle]="{'font-size': '15px'}">  Show Bills </b>
    </p>
    <p (click)="view=6;sidenav.close();" [ngStyle]="{'margin-top': '20px'}">
    <b  [routerLink]="['/barcode']"  [ngStyle]="{'font-size': '15px'}">  Barcode </b>
    </p>
  </md-sidenav>

  <div>
    <md-toolbar class="toolbar">

            <md-icon [ngStyle]="{'font-size':'15px'}" (click)="sidenav.open()"><span class="glyphicon">&#xe236;</span></md-icon>
<span>Silk Emporium</span>
    </md-toolbar>
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>
